<nav>
    <div
        class="top-0 z-50 flex items-center justify-between w-full h-16 px-5 text-[#8c8c8c] transition-all duration-300 ">

        <!-- Wrapper Logo e Menu desktop -->
        <div class="flex flex-grow ">
            <div class="h-16 flex items-center overflow-hidden mr-8">
                <p>Logo</p>
            </div>

        </div>

        <!-- Wrapper Login Ricerca e Carrello -->
        <div class="flex items-center gap-4 tracking-wide font-medium">
            <a class="hover:after:w-full hover:opacity-90 hover:text-black hover:scale-[1.01] transition-all duration-300 cursor-pointer"
                href="">login</a>


        </div>

    </div>
</nav>